.container {
    margin-top: 50px;
}

.img1 {
    height: 190px;
    width: 200px;
    border-radius: 10px;
}

.img2 {
    height: 190px;
    width: 200px;
    border-radius: 10px;
}

.img3 {
    height: 190px;
    width: 200px;
    border-radius: 10px;
}